
  
  .content {
    position: relative;
  }
  
  .screen {
    display: block;
    width: 300px;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 1px;
    margin: 0 auto;
  }
  
  .screen img {
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    transition: top 11s;
    margin-top: 12px;
  }
  
  .screen:hover img {
    top: -1210px;
    transition: all 11s;
    margin-top: 12px;
  }
  