.cards {
  position: relative;
  padding: 16px;
  border-radius: 50%; /* To make the border round like the image */
}

.cards img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.cards:before,
.cards:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(
    45deg,
    #6c22bd,
    #8b25bb,
    #a52bb9,
    #bc34b7,
    #d040b5,
    #e645a5,
    #f55195,
    #ff6188,
    #ff796e,
    #ff965b,
    #f5b255,
    #e1cd60
  );
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 50%; /* To make the border round like the image */
  z-index: -1;
  animation: animat 30s linear infinite;
  background-size: 400%;
}

.cards:after {
  filter: blur(70px);
}

@keyframes animat {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
